.admin {
  position: fixed; /* most of this is to fix an svg filter glitch */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  @include background-color("background");
  border-radius: 10px 10px 10px 10px;


  @media (max-width: $screen-tablet) {
    flex-direction: column;
    margin: 0 auto;
    padding: 2 * $spacing-abs-large;
    overflow-y: auto;
  }

  @media (min-width: $screen-tablet + 1px) {
    justify-content: center;
    padding: $spacing-rel-large;
  }

  @media (min-width: $screen-large) {
    padding: $spacing-rel-medium;
  }
}

.miniview {
  position: fixed; /* most of this is to fix an svg filter glitch */
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}
