.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  width: 100%;
  transition: height 0.2s;
  -webkit-app-region: no-drag;
}

.leftnavbutton,
.rightnavbutton {
  position: fixed;
  height: 30px;
  width: 30px;
  font-size: 24px;
  border: 0;
  background: none;
}
.leftnavbutton {
  left: 2%;
}
.rightnavbutton {
  right: 2%;
}

.addbutton {
  position: absolute;
  z-index: 5;
  height: 50px;
  width: 50px;
  left: 50%;
  background: #94c6df;
  border-radius: 50%;
  border: 0;
  transform: translateX(-50%);
}
.leftnavbutton:hover,
.rightnavbutton:hover,
.addbutton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.topbar_date {
  flex-grow: 1;
  color: #ea7362;
}
