// Statistics overlay

.stats-overlay {
  td {
    vertical-align: baseline;
  }

  .stat-number {
    padding-right: 10px;
    font-size: 150%;
    text-align: right;
  }

  .stat-label {
    text-faded: #a1a1a1;
  }
}
