.rounds {
  .intent-focus > .pt-progress-meter {
    background-color: @doNotDisturbPhase;
  }

  .intent-short-break > .pt-progress-meter {
    background-color: $shortBreakPhase;
  }

  .intent-long-break > .pt-progress-meter {
    background-color: $longBreakPhase;
  }
}
