// Variables
@import "./Ant.vars.scss";

// Example import .css
//@import '~name_in_node_modules/dist/style.css';

// Global styles
body {
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  -webkit-app-region: drag;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.041);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.3);
}
