<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time to take a break</title>
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="microbreak">
        <div class="microbreak-idea"></div>
        <a id="close">...nah,I'll just keep going on'</a></div>

    <script>
        require('../js/microbreak.js')
    </script>
</body>

</html>