.menu {
  position: fixed; /* most of this is to fix an svg filter glitch */
  width: 100%;
  height: 100%;
  z-index: 10;
  filter: url("#goo");
}

.button {
  position: fixed;
  z-index: 20;
  top: 50px;
  left: 126px;
  height: 48px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border-radius: 50%;
  border: 0;
  font-size: 42px;
  background: none;
  -webkit-app-region: no-drag;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.4);
}

.container {
  position: fixed;
  z-index: 9;
  top: 130px;
  left: 15px;
  width: 240px;
  height: 80px;
  border-radius: 0 0 25px 0;
  overflow: hidden;
  background: none;
  pointer-events: none;
}

.modal {
  pointer-events: auto;
  position: absolute;
  box-sizing: border-box;

  z-index: 9;
  top: 0;
  right: 50%;
  width: 50%;
  background: #ececec;
  height: 0px;
  width: 0px;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  display: flex;
}

.open {
  transition: all 0.4s ease-in-out;
  height: 60px;
  width: 90%;
  top: 0;
  right: 0;
  -webkit-app-region: no-drag;
}

.form {
  box-sizing: border-box;
  padding: 15px 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

.form * {
  margin: 0 2px;
}

.formOpen {
  opacity: 1;
}

.input {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 70%;
  height: 40px;
  color: rgb(31, 6, 6);
  border-radius: 4px;
  background: none;
  border: 0;
}

.input:focus {
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.3);
}

.submit {
  /* height: 23px;
  background: none;
  color: white;
  border-radius: 4px;
  border: 0; */

  height: 25px;
  color: white;
  border: 0;
  background: none;
  border-radius: 12px;
  font-family: inherit;
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

.submit:hover {
  transition: all 0.1s ease-in-out;
  background: #2fb8ec;
  cursor: pointer;
}
